<footer class="footer-bottom">
  <div class="content has-text-centered">
    All articles belong to <a href="https://www.luxyhair.com/" target="_blank">Luxy Hair</a>
    <a class="text-is-centered" href="/articles-json">JSON Articles</a>
  </div>
</footer>