<section class="hero is-info is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <a href="/" class="title-is1">Scraper News</a>
      </h1>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="is-active"><a>Overview</a></li>
          <li><a href="/scrape">Scrape</a></li>
          <li><a href="https://github.com/LindseyLowther44/ScraperApp.git">Github Repo</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>